.form-control:focus {
    box-shadow: none;
}
.form-control {
    border: 0;
    border-radius: 0;
    width: 500px;
    border-bottom: 1px solid #a1a2a3;
    margin-bottom: 50px;
}
.form-control,
.form-control:focus,
.form-control:focus:hover {
  color: #ff8d00;
  background: none;
  outline: none;
}
.form-control:focus,
.form-control:focus:hover {
  border-bottom: 1px solid #ff8d00;
}
.form-box {
    background: #fffdfb;
    margin-top: 150px;
    padding: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}